<h1>Lista de Alumnos</h1>
<h2>Alumnos y sus Notas </h2>
<h3 [ngClass]="variable1 < 5 ? 'texto-error' : 'texto-exito'">Fabian: {{variable1 }}</h3>
<hr>
<h3 [ngClass]="variable6 < 12 ? 'texto-error' : 'texto-exito'">Lucas: {{variable6 }}</h3>
<hr>
<h3 [ngClass]="variable4 < 3 ? 'texto-error' : 'texto-exito'">Jimena: {{variable4 }}</h3>
<hr>
<h3 [ngClass]="variable1 < 1 ? 'texto-error' : 'texto-exito'">Gabriela: {{variable1 }}</h3>
<hr>
<h3 [ngClass]="variable6 < 12 ? 'texto-error' : 'texto-exito'">Milo: {{variable6 }}</h3>
<hr>
<h3 [ngClass]="variable7 < 4 ? 'texto-error' : 'texto-exito'">Pamela: {{variable7 }}</h3>
<hr>
